section.head
    font-family: "Poppins", sans-serif
    background-color: #F0F0F0
    .container
        max-width: 1170px
        font-size: 2rem
        font-weight: bolder
        text-align: center

section.main-content
    font-family: "Poppins", sans-serif
    .container
        max-width: 1170px
        .price
            del
                color: #A4A4A4
            span
                color: black
                text-decoration: underline
        h1
            color: black
            font-weight: bolder
        h2
            color: black
            font-size: 1.2rem
            font-weight: bolder
        hr
            border-color: #e2e3e7
        .rating-block
            padding: 2px 0
            font-size: .7rem
            span
                i
                    color: #D3CED2
                    &.checked
                        color: #FFC902
        .head
            select
                width: 220px
                text-transform: uppercase
                background-color: #FBFAF9
                option
                    font-size: .8rem
        .products
            .card
                border: none
                margin-bottom: 40px
                .card-header
                    border: none
                    background: none
                    padding: 0
                    .card-img-overlay
                        padding: 0
                        background-color: #FF4200
                        color: white
                        width: 45px
                        height: 40px
                        display: flex
                        justify-content: center
                        align-items: center
                        font-size: .8rem
                    .card-link
                        color: black
                        img
                            border-radius: 10px
                        h3
                            font-size: 1.2rem
                            font-weight: bolder
                    fieldset, label
                        margin: 0
                        padding: 0
                .card-body
                    padding: 0
                    margin-top: 15px
                    .card-link
                        display: block
                        text-align: center
                        width: 100%
                        font-size: 1rem
                        text-transform: uppercase
                        color: black
                        border: 1px solid #E6E6E6
                        padding: 3px 0
                        border-radius: 5px
                        transition: background .4s
                        &:hover
                            color: white
                            border-color: black
                            background: black
        .pagination-overlay
            .pagination
                .page-item
                    margin: 4px
                    .page-link
                        width: 40px
                        height: 40px
                        background: black
                        color: white
                        border-radius: 20px
                        border: none
                        display: flex
                        justify-content: center
                        align-items: center
                        transition: all .4s
                        &.active, &:hover
                            background: #FF4200
        .products-container
            .card
                flex-direction: row !important
                border: none
                margin-bottom: 15px
                height: 80px
                .card-header
                    border: none
                    background: none
                    .card-link
                        color: black
                        .overlay
                            display: flex
                        img
                            border-radius: 8px
                            width: 80px
                            margin-right: 10px
                            margin-bottom: 0 !important
                        h3
                            font-size: .9rem
                            font-weight: bolder
                            margin: 0
                        fieldset, label
                            margin: 0
                            padding: 0
        .average-rating
            ul
                list-style-type: none
                padding: 0
                li
                    margin-bottom: 5px
                a
                    &:hover
                        .ml-3
                            text-decoration: underline
                span
                    color: black
                    font-size: .8rem
                    i
                        color: #D3CED2
                        &.checked
                            color: #FFC902
        .categories
            ul
                padding: 0
                list-style-type: none
                li
                    border-bottom: 1px solid #e2e3e7
                    padding: 5px 0
                    &:last-child
                        border: none
                    a
                        color: black
                        &:hover
                            text-decoration: underline
        .product
            .col-6
                a
                    color: black
                    img.w-100
                        border-radius: 10px
                    img.small
                        width: 25%
                        border-radius: 5px
                    .sale
                        position: absolute
                        top: 0
                        left: 15px
                        width: 45px
                        height: 40px
                        background-color: #FF4200
                        border-top-left-radius: 10px
                        border-bottom-right-radius: 10px
                        color: white
                        display: flex
                        justify-content: center
                        align-items: center
                        font-size: .8rem
            .product-desc
                .price
                    font-size: 1.3rem
                    font-weight: bold
                a
                    &:hover
                        text-decoration: underline
                p
                    color: #666666
                    font-weight: bold
                    line-height: 2.1rem
            form
                input
                    width: 60px
                button
                    height: 34px
            .nav-tabs
                .nav-item
                    .nav-link
                        color: black
                        background: white
                        &.active
                            color: white
                            background: black
            .comments
                .comment
                    img
                        border: 5px solid #EBE9EB
                    .comment-block
                        border: 1px solid #E4E1E3
                        border-radius: 5px
                        color: #767676
                        h5,span
                            margin: 0
                            padding: 0
