header {
  background: -webkit-gradient(linear, left top, right top, from(#3A4CB4), to(#FD1D1D));
  background: linear-gradient(to right, #3A4CB4 0%, #FD1D1D 100%);
  height: 50px;
}

header .container {
  max-width: 1170px;
}

header .container .header_top_menu .top_menu {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .container .header_top_menu .top_menu li {
  margin-right: 15px;
}

header .container .header_top_menu .top_menu li a {
  font-size: 0.9rem;
  color: #ffffffde;
  text-decoration: none;
}

header .container .header_top_menu .top_menu li a:hover {
  color: #fff;
  text-decoration: none;
}

header .container .right_bar {
  color: #ffffff;
}

header .container .right_bar span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  height: 20px;
  line-height: 16px;
  padding: 0px 10px;
  border-radius: 100px;
  margin-right: 10px;
}

.main_menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  font-family: "Poppins", sans-serif;
  z-index: 10000;
  background-color: white;
}

.main_menu .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main_menu .container .row {
  margin: 0;
  height: 100%;
}

.main_menu .container .row .navbar {
  padding: 0 15px !important;
  width: 100%;
  padding: 0;
  height: 100%;
  background-color: #fff;
  position: static !important;
}

.main_menu .container .row .navbar .dropdown-menu {
  opacity: 0;
  margin-top: -2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main_menu .container .row .navbar .business-container {
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main_menu .container .row .navbar .business-container:hover {
  cursor: default;
}

.main_menu .container .row .navbar .business-container .container {
  background-color: white;
  -webkit-box-shadow: 0 0 30px 7px #00000044;
          box-shadow: 0 0 30px 7px #00000044;
}

.main_menu .container .row .navbar .business-container .container .card {
  width: 100%;
  border: none;
}

.main_menu .container .row .navbar .business-container .container .card .card-header {
  border: none;
  padding: 0;
}

.main_menu .container .row .navbar .business-container .container .card .card-header .link {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px !important;
}

.main_menu .container .row .navbar .business-container .container .card .card-header .link img {
  border-radius: 10px !important;
}

.main_menu .container .row .navbar .business-container .container .card .card-body h5 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: bolder;
}

.main_menu .container .row .navbar .business-container .container .card .card-body h5 a {
  color: black;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.main_menu .container .row .navbar .business-container .container .card .card-body h5 a:hover {
  color: #FF4200;
  text-decoration: none;
  cursor: pointer;
}

.main_menu .container .row .navbar .business-container .container .card .card-body .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_menu .container .row .navbar .business-container .container .card .card-body .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

.main_menu .container .row .navbar .business-container .container .card .card-body .user a {
  font-size: .8rem;
  color: #818181;
  margin-right: 10px;
}

.main_menu .container .row .navbar .business-container .container .card .card-body .user a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main_menu .container .row .navbar .business-container .container .card .card-body .user i, .main_menu .container .row .navbar .business-container .container .card .card-body .user span {
  margin: 0 3px;
  font-size: .8rem;
  color: #818181;
}

.main_menu .container .row .navbar .dropdown:hover {
  cursor: pointer;
}

.main_menu .container .row .navbar .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.main_menu .container .row .navbar .dropdown-business {
  position: static !important;
}

.main_menu .container .row .navbar .dropdown-business:hover {
  cursor: default;
}

.main_menu .container .row .navbar .dropdown-business:hover .business-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
}

.main_menu .container .row .navbar ul.navbar-nav {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_menu .container .row .navbar ul.navbar-nav li {
  height: 100%;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link {
  line-height: 50px;
  height: 100%;
  color: #161616;
  font-weight: bold;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link .badge-pill {
  font-size: 0.6rem;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link:hover {
  color: #000000;
}

.main_menu .container .row .navbar .navbar-brand img {
  width: 100px;
}

.main_menu .container .row .navbar .icons .modal-content {
  border: none;
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffee;
}

.main_menu .container .row .navbar .icons .modal-content .modal-body {
  position: relative;
}

.main_menu .container .row .navbar .icons .modal-content .modal-body input {
  width: 50%;
  font-size: 3rem;
  font-weight: bolder;
  border: none;
  background: none;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 993px) {
  .main_menu .container .row .navbar .icons .modal-content .modal-body input {
    width: 80%;
  }
}

.main_menu .container .row .navbar .icons .modal-content .modal-body button {
  position: absolute;
  top: 50px;
  right: 50px;
  border: none;
  color: black;
  background: none;
  font-size: 3rem;
}

.main_menu .container .row .navbar .icons .modal-content .modal-body button:hover {
  color: black;
  background: none;
}

.main_menu .container .row .navbar .icons a, .main_menu .container .row .navbar .icons button {
  border: none;
  margin-left: 3px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  color: black;
  background: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main_menu .container .row .navbar .icons a:hover, .main_menu .container .row .navbar .icons a:focus, .main_menu .container .row .navbar .icons button:hover, .main_menu .container .row .navbar .icons button:focus {
  background: #E5E5E5;
  outline: none;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 1170px) {
  html, body {
    font-size: 14px;
  }
}

a:hover {
  text-decoration: none;
}

section.slider {
  height: 600px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  section.slider {
    height: 400px;
  }
}

section.slider .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.slider .container .carousel {
  height: 100%;
}

section.slider .container .carousel .carousel-inner {
  height: 100%;
}

section.slider .container .carousel .carousel-inner .carousel-item {
  height: auto;
  opacity: 0;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link {
    height: 400px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link:hover {
  cursor: pointer;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner {
  z-index: 1000;
  position: absolute;
  top: 200px;
  left: 7%;
  width: 40%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .banner {
    top: 120px;
    left: 15%;
    width: 80%;
    height: 130px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.btn {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.name {
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffffd0;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.name:hover {
  color: white;
  text-decoration: none;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user a {
  font-size: 1rem;
  color: #ffffffd0;
  margin-right: 10px;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user a:hover {
  color: white;
  text-decoration: none;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user i, section.slider .container .carousel .carousel-inner .carousel-item .banner .user span {
  margin: 0 3px;
  font-size: 1rem;
  color: white;
}

section.slider .container .carousel .carousel-inner .carousel-item .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .image {
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item.active {
  opacity: 1;
}

section.slider .container .carousel ol {
  margin: 0 5px 20px;
  width: 100%;
}

section.slider .container .carousel ol .indicator.active span {
  color: white;
}

section.slider .container .carousel ol .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

@media screen and (max-width: 993px) {
  section.slider .container .carousel ol .indicator {
    margin: 0;
  }
}

section.slider .container .carousel ol .indicator div.image {
  width: 120px;
  min-width: 60px;
  height: 60px;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}

section.slider .container .carousel ol .indicator span {
  width: auto;
  margin-left: 5px;
  color: #ffffffd0;
  height: 45px;
  font-weight: bold;
  overflow: hidden;
}

section.slider .container .carousel ol .indicator:hover {
  cursor: pointer;
}

section.slider .container .carousel ol .indicator:hover span {
  color: #fff;
}

section.editorsChoise {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

section.editorsChoise .container {
  max-width: 1170px;
}

section.editorsChoise .container h2 {
  font-weight: bolder;
}

section.editorsChoise .container .row .col {
  height: auto;
  margin-bottom: 20px;
}

section.editorsChoise .container .row .col .card {
  border: none;
}

section.editorsChoise .container .row .col .card .card-header {
  border: none;
  padding: 0;
}

section.editorsChoise .container .row .col .card .card-header .link {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px !important;
}

section.editorsChoise .container .row .col .card .card-header .link .card-img-overlay {
  bottom: inherit !important;
}

section.editorsChoise .container .row .col .card .card-header .link .card-img-overlay button {
  color: white;
}

section.editorsChoise .container .row .col .card .card-header .link img {
  border-radius: 10px !important;
}

section.editorsChoise .container .row .col .card .card-body h5 {
  font-size: 1.4rem;
}

section.editorsChoise .container .row .col .card .card-body h5 a {
  color: black;
  font-weight: bolder;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

section.editorsChoise .container .row .col .card .card-body h5 a:hover {
  color: #FF4200;
  text-decoration: none;
  cursor: pointer;
}

section.editorsChoise .container .row .col .card .card-body .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.editorsChoise .container .row .col .card .card-body .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.editorsChoise .container .row .col .card .card-body .user a {
  font-size: .9rem;
  color: #818181;
  margin-right: 10px;
}

section.editorsChoise .container .row .col .card .card-body .user a:hover {
  cursor: pointer;
  text-decoration: none;
}

section.editorsChoise .container .row .col .card .card-body .user i, section.editorsChoise .container .row .col .card .card-body .user span {
  margin: 0 3px;
  font-size: .9rem;
  color: #818181;
}

section.editorsChoise .container .row .col .card .card-body .card-text {
  margin-top: 10px;
  color: #777777;
}

section.totw {
  background-color: #FDEEDC;
  font-family: "Poppins", sans-serif;
}

section.totw .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.totw .container h2 {
  font-weight: bolder;
}

section.totw .container .card {
  height: 100%;
  border: none;
}

section.totw .container .card .card-header {
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 0;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 993px) {
  section.totw .container .card .card-header {
    padding-bottom: 80%;
  }
}

section.totw .container .card .card-header .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #00000059;
  border-radius: 10px;
  z-index: 10;
}

section.totw .container .card .card-header .card-img-overlay {
  padding-right: 15%;
}

section.totw .container .card .card-header .card-img-overlay a.btn {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 80px;
  margin: 3px 0;
}

section.totw .container .card .card-header .card-img-overlay .banner {
  position: absolute;
  bottom: 25px;
  z-index: 100;
}

section.totw .container .card .card-header .card-img-overlay .banner a.name {
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffffd0;
  margin: 3px 0;
}

section.totw .container .card .card-header .card-img-overlay .banner a.name:hover {
  color: white;
}

section.totw .container .card .card-header .card-img-overlay .banner .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0;
}

section.totw .container .card .card-header .card-img-overlay .banner .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.totw .container .card .card-header .card-img-overlay .banner .user a {
  font-size: 1rem;
  color: #ffffffd0;
  margin-right: 10px;
}

section.totw .container .card .card-header .card-img-overlay .banner .user a:hover {
  color: white;
  text-decoration: none;
}

section.totw .container .card .card-header .card-img-overlay .banner .user i, section.totw .container .card .card-header .card-img-overlay .banner .user span {
  margin: 0 3px;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 993px) {
  section.totw .container .item.first-item {
    margin-top: 15px;
  }
}

section.totw .container .item a > img {
  border-radius: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 993px) {
  section.totw .container .item a > img {
    width: 100px;
  }
}

section.totw .container .item .right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.totw .container .item .right .btn {
  font-size: .7rem;
  color: white;
  text-transform: uppercase;
}

section.totw .container .item .right .link {
  color: black;
  font-weight: bolder;
  font-size: 1.1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 993px) {
  section.totw .container .item .right .link {
    font-size: 1.2rem;
  }
}

section.totw .container .item .right .link:hover {
  color: #FF4200;
}

section.totw .container .item .right .date {
  font-size: .8rem;
  color: #818181;
}

section.totw .container .mt-5 .card .card-header {
  padding-bottom: 80%;
}

section.totw .container .mt-5 .card .card-header .card-img-overlay a.btn {
  z-index: 100;
}

section.totw .container .mt-5 .card .card-header .card-img-overlay .banner .name {
  color: white;
  font-weight: bolder;
  font-size: 1.3rem;
}

section.totw .container .mt-5 .card .card-header .card-img-overlay .banner .user {
  font-size: .8rem;
}

section.big {
  font-family: "Poppins",sans-serif;
}

section.big .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.big .col-12 .post {
  margin-bottom: 50px;
}

@media screen and (max-width: 769px) {
  section.big .col-12 .post {
    margin-bottom: 10px;
  }
}

section.big .col-12 .post .img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

@media screen and (max-width: 769px) {
  section.big .col-12 .post .img {
    padding-bottom: 60%;
  }
}

section.big .col-12 .post .head {
  color: #777777;
  font-size: .9rem;
}

@media screen and (max-width: 769px) {
  section.big .col-12 .post .head {
    margin-top: 15px;
  }
}

section.big .col-12 .post .head .btn {
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

section.big .col-12 .post .head span {
  margin: 0 5px;
}

section.big .col-12 .post .head i {
  color: #777777;
  margin-right: 2px;
}

section.big .col-12 .post .head .fa-comment {
  margin-left: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section.big .col-12 .post .head .fa-comment:hover {
  color: black;
}

section.big .col-12 .post .name {
  margin: 10px 0;
  line-height: 1.7rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  -webkit-transition: all .4s;
  transition: all .4s;
}

section.big .col-12 .post .name:hover {
  color: #FF4200;
}

section.big .col-12 .post p.text {
  color: #777777;
  font-weight: bold;
}

section.big .soc-links {
  padding: 0 15px;
}

section.big .soc-links .col-3 {
  padding: 1.5px;
}

section.big .soc-links .col-3 .soc {
  background-color: #F8F9FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 1.5rem;
  padding: 10px 0;
}

section.big .soc-links .col-3 .soc i {
  margin-bottom: 8px;
}

section.big .soc-links .col-3 .soc .number {
  font-size: .9rem;
  font-weight: bolder;
}

section.big .soc-links .col-3 .soc .type {
  margin-top: 5px;
  font-size: .7rem;
}

section.big .soc-links .col-3 .soc .fa-facebook-f {
  color: #45629F;
}

section.big .soc-links .col-3 .soc .fa-instagram {
  color: #125D8F;
}

section.big .soc-links .col-3 .soc .fa-pinterest {
  color: #FF4200;
}

section.big .soc-links .col-3 .soc .fa-twitch {
  color: #6341A4;
}

section.big .soc-links .col-3 .soc .fa-twitter {
  color: #5EB2EF;
}

section.big .soc-links .col-3 .soc .fa-vimeo-v {
  color: #1AB7EA;
}

section.big .soc-links .col-3 .soc .fa-youtube {
  color: #C61D23;
}

section.big .soc-links .col-3 .soc .fa-linkedin-in {
  color: #0077B5;
}

section.big .badges {
  margin-top: 30px;
}

section.big .badges .col-12 {
  margin: 10px 0;
}

section.big .badges .col-12 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 15px;
  color: white;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/css_sprites.png") no-repeat;
  background-size: cover;
}

section.big .badges .col-12 a .name {
  font-size: .9rem;
}

section.big .badges .col-12 a .badge {
  background-color: white;
  color: black;
  border-radius: 25px;
  font-size: .9rem;
  padding: 5px 10px;
  font-weight: normal;
}

section.big .recent-posts {
  margin-top: 30px;
}

section.big .recent-posts h2 {
  font-weight: bolder;
  font-size: 1.7rem;
  color: black;
}

section.big .recent-posts .col-12 {
  margin: 10px 0;
}

section.big .recent-posts .col-12 .row .col-8 .btn {
  color: white;
  text-transform: uppercase;
}

section.big .recent-posts .col-12 .row .col-8 .name {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin: 5px 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

section.big .recent-posts .col-12 .row .col-8 .name:hover {
  color: #FF4200;
}

section.big .recent-posts .col-12 .row .col-8 .date {
  color: #777777;
  font-size: .8rem;
}

section.big .recent-posts .col-12 .row .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.big .recent-posts .col-12 .row .col-4 a > img {
  border-radius: 10px;
}

section.big .slider {
  margin-top: 50px;
}

section.big .slider .carousel .carousel-item {
  height: 400px;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

section.big .slider .carousel .carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #00000041;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
}

section.big .slider .carousel .carousel-item .overlay .btn {
  width: 80px;
  color: white;
  text-transform: uppercase;
}

section.big .slider .carousel .carousel-item .overlay .name {
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

section.big .slider .carousel .carousel-item .overlay .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 10px;
}

section.big .slider .carousel .carousel-item .overlay .user a, section.big .slider .carousel .carousel-item .overlay .user i, section.big .slider .carousel .carousel-item .overlay .user span {
  color: white;
  font-size: .8rem;
  margin-right: 3px;
}

section.big .slider .carousel .carousel-control-prev {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 50px;
  left: inherit;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #cccccc98;
}

section.big .slider .carousel .carousel-control-next {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 5px;
  left: inherit;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #cccccc98;
}

section.big .card {
  width: 100%;
  border: none;
}

section.big .card .card-header {
  border: none;
  padding: 0;
}

section.big .card .card-header .link {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px !important;
}

section.big .card .card-header .link .card-img-overlay {
  bottom: inherit !important;
}

section.big .card .card-header .link .card-img-overlay button {
  font-size: .8rem;
  color: white;
  text-transform: uppercase;
}

section.big .card .card-header .link img {
  border-radius: 10px !important;
}

section.big .card .card-body h5 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: bolder;
}

section.big .card .card-body h5 a {
  color: black;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

section.big .card .card-body h5 a:hover {
  color: #FF4200;
  text-decoration: none;
  cursor: pointer;
}

section.big .card .card-body .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.big .card .card-body .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.big .card .card-body .user a {
  font-size: .8rem;
  color: #818181;
  margin-right: 10px;
}

section.big .card .card-body .user a:hover {
  cursor: pointer;
  text-decoration: none;
}

section.big .card .card-body .user i, section.big .card .card-body .user span {
  margin: 0 3px;
  font-size: .8rem;
  color: #818181;
}

footer {
  background-color: #030303;
  color: white;
}

footer .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

footer .content {
  border-bottom: 1px solid #999999;
}

footer .content .container h3 {
  font-weight: bolder;
}

footer .content .container .about-us-text {
  color: #999999;
}

footer .content .container .soc-icons a {
  background-color: #3B5999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 7px;
  color: white;
}

footer .content .container .soc-icons a:nth-child(even) {
  background-color: #DD4B39;
}

footer .content .container .recent-posts h2 {
  font-weight: bolder;
  font-size: 1.7rem;
  color: black;
}

footer .content .container .recent-posts .col-12 {
  margin: 10px 0;
}

footer .content .container .recent-posts .col-12 .row .col-8 .btn {
  color: white;
  text-transform: uppercase;
}

footer .content .container .recent-posts .col-12 .row .col-8 .name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin: 5px 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

footer .content .container .recent-posts .col-12 .row .col-8 .name:hover {
  color: #FF4200;
}

footer .content .container .recent-posts .col-12 .row .col-8 .date {
  color: #777777;
  font-size: .8rem;
}

footer .content .container .recent-posts .col-12 .row .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .content .container .recent-posts .col-12 .row .col-4 a > img {
  border-radius: 10px;
}

footer .content .container ul {
  list-style-type: none;
  padding-left: 0;
}

footer .content .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #202020;
}

footer .content .container ul li .badge {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: .85rem;
}

footer .content .container ul li a {
  color: white;
}

footer .content .container ul li a:hover {
  text-decoration: underline;
}

footer .bottom p {
  font-size: .8rem;
  color: #999999;
}

footer .bottom a {
  font-size: .8rem;
  color: #999999;
  margin-left: 10px;
}

@media screen and (max-width: 993px) {
  footer .bottom .col-12 {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 10px;
  }
}

#go-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #131313bb;
  border: none;
}

#go-to-top-btn:hover, #go-to-top-btn:focus {
  outline: none;
}
