html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 1170px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (max-width: 993px) {
  html, body {
    font-size: 13px;
  }
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#3A4CB4), to(#FD1D1D));
  background: linear-gradient(to right, #3A4CB4 0%, #FD1D1D 100%);
  height: 50px;
}

header .container {
  max-width: 1170px;
}

header .container .header_top_menu .top_menu {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .container .header_top_menu .top_menu li {
  margin-right: 15px;
}

header .container .header_top_menu .top_menu li a {
  font-size: 0.9rem;
  color: #ffffffde;
  text-decoration: none;
}

header .container .header_top_menu .top_menu li a:hover {
  color: #fff;
  text-decoration: none;
}

header .container .right_bar {
  color: #ffffff;
}

header .container .right_bar span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  height: 20px;
  line-height: 16px;
  padding: 0px 10px;
  border-radius: 100px;
  margin-right: 10px;
}

.main_menu {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  font-family: "Poppins", sans-serif;
}

.main_menu .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main_menu .container .row {
  margin: 0;
  height: 100%;
}

.main_menu .container .row .navbar {
  width: 100%;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

.main_menu .container .row .navbar .dropdown-menu {
  opacity: 0;
  margin-top: -2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main_menu .container .row .navbar .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.main_menu .container .row .navbar ul.navbar-nav {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_menu .container .row .navbar ul.navbar-nav li {
  height: 100%;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link {
  line-height: 50px;
  height: 100%;
  color: #161616;
  font-weight: bold;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link .badge-pill {
  font-size: 0.6rem;
}

.main_menu .container .row .navbar ul.navbar-nav li a.nav-link:hover {
  color: #000000;
}

.main_menu .container .row .navbar .navbar-brand img {
  width: 100px;
}

.main_menu .container .row .navbar .icons a {
  margin-left: 3px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  color: black;
  background: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main_menu .container .row .navbar .icons a:hover {
  background: #E5E5E5;
}

section.slider {
  height: 600px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  section.slider {
    height: 400px;
  }
}

section.slider .container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.slider .container .carousel {
  height: 100%;
}

section.slider .container .carousel .carousel-inner {
  height: 100%;
}

section.slider .container .carousel .carousel-inner .carousel-item {
  height: auto;
  opacity: 0;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link {
    height: 400px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item .wrapper-link:hover {
  cursor: pointer;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner {
  z-index: 1000;
  position: absolute;
  top: 200px;
  left: 7%;
  width: 40%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .banner {
    top: 120px;
    left: 15%;
    width: 80%;
    height: 130px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.btn {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.name {
  font-size: 2rem;
  font-weight: bolder;
  color: #ffffffd0;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner a.name:hover {
  color: white;
  text-decoration: none;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user a {
  font-size: 1rem;
  color: #ffffffd0;
  margin-right: 10px;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user a:hover {
  color: white;
  text-decoration: none;
}

section.slider .container .carousel .carousel-inner .carousel-item .banner .user i, section.slider .container .carousel .carousel-inner .carousel-item .banner .user span {
  margin: 0 3px;
  font-size: 1rem;
  color: white;
}

section.slider .container .carousel .carousel-inner .carousel-item .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  section.slider .container .carousel .carousel-inner .carousel-item .image {
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
}

section.slider .container .carousel .carousel-inner .carousel-item.active {
  opacity: 1;
}

section.slider .container .carousel ol {
  margin: 0 5px 20px;
  width: 100%;
}

section.slider .container .carousel ol .indicator.active span {
  color: white;
}

section.slider .container .carousel ol .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

@media screen and (max-width: 993px) {
  section.slider .container .carousel ol .indicator {
    margin: 0;
  }
}

section.slider .container .carousel ol .indicator div.image {
  width: 120px;
  min-width: 60px;
  height: 60px;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}

section.slider .container .carousel ol .indicator span {
  width: auto;
  margin-left: 5px;
  color: #ffffffd0;
  height: 45px;
  font-weight: bold;
  overflow: hidden;
}

section.slider .container .carousel ol .indicator:hover {
  cursor: pointer;
}

section.slider .container .carousel ol .indicator:hover span {
  color: #fff;
}

section.editorsChoise {
  height: 100vh;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

section.editorsChoise .container {
  max-width: 1170px;
}

section.editorsChoise .container .row .col {
  height: auto;
  margin-bottom: 50px;
}

section.editorsChoise .container .row .col .card {
  border: none;
}

section.editorsChoise .container .row .col .card .card-header {
  border: none;
  padding: 0;
}

section.editorsChoise .container .row .col .card .card-header .link {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px !important;
}

section.editorsChoise .container .row .col .card .card-header .link .card-img-overlay {
  bottom: inherit !important;
}

section.editorsChoise .container .row .col .card .card-header .link img {
  border-radius: 10px !important;
}

section.editorsChoise .container .row .col .card .card-body h5 {
  font-size: 1.4rem;
}

section.editorsChoise .container .row .col .card .card-body h5 a {
  color: black;
  font-weight: bolder;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

section.editorsChoise .container .row .col .card .card-body h5 a:hover {
  color: #FF4200;
  text-decoration: none;
  cursor: pointer;
}

section.editorsChoise .container .row .col .card .card-body .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.editorsChoise .container .row .col .card .card-body .user img {
  width: 26px;
  border-radius: 13px;
  margin-right: 3px;
}

section.editorsChoise .container .row .col .card .card-body .user a {
  font-size: .9rem;
  color: #818181;
  margin-right: 10px;
}

section.editorsChoise .container .row .col .card .card-body .user a:hover {
  cursor: pointer;
  text-decoration: none;
}

section.editorsChoise .container .row .col .card .card-body .user i, section.editorsChoise .container .row .col .card .card-body .user span {
  margin: 0 3px;
  font-size: .9rem;
  color: #818181;
}

section.editorsChoise .container .row .col .card .card-body .card-text {
  margin-top: 10px;
  color: #777777;
}
